{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_wordcloud/wordcloud

    Example context (json):
    {
        "cloudhtml": "testwort1",
        "exportlink": "https://csvexportlink"
    }
}}
<div class="wc-padding-y">
    {{#editlink}}<a class="btn btn-primary" href="{{editlink}}">{{#str}} editentry, mod_wordcloud {{/str}}</a>{{/editlink}}
    <select id="mod-wordcloud-export-menu" class="wc-right-align btn btn-secondary">
        <option value="" selected disabled>{{#str}} exportdefault, mod_wordcloud {{/str}}</option>
        <option value="{{exportlink}}">{{#str}} exportcsv, mod_wordcloud {{/str}}</option>
        <option value="png">{{#str}} exportpng, mod_wordcloud {{/str}}</option>
    </select>
</div>
<div id="mod-wordcloud-content">
    <div id="mod-wordcloud-div" class="container m-auto">
        {{#str}} submittedwords, mod_wordcloud {{/str}}<span id="mod-wordcloud-wcount">{{wordcount}}</span>
        <div class="wordcloud-header row justify-content-end {{#notification}}alert-info{{/notification}}{{^notification}}wordcloud-header-color{{/notification}}">
            {{#writeaccess}}
            <div class="col col-xs-12 mb-2 mb-sm-0 px-2">
                <input type="text" placeholder="{{#str}} textbox, mod_wordcloud {{/str}}" id="mod-wordcloud-new-word"
                       maxlength="40" autofocus="" aria-label="{{#str}} textbox, mod_wordcloud {{/str}}">
            </div>
            <div class="w-100 d-none d-sm-block d-md-none mb-2 mb-md-0"></div>
            <div class="col-sm-auto col-xs-12 mb-2 mb-sm-0 px-2">
                <button id="mod-wordcloud-btn" class="btn btn-primary">{{#str}} submitbtn, mod_wordcloud {{/str}}</button>
            </div>
            {{/writeaccess}}
            {{#notification}}
                {{#pix}} docs, core {{/pix}}{{notification}}
            {{/notification}}
            <div class="col-auto px-2">
                <select id="mod-wordcloud-view-menu" class="custom-select" {{#disabled}}disabled{{/disabled}}>
                    {{#views}}
                        <option value="{{url}}" {{#selected}}selected{{/selected}}>{{text}}</option>
                    {{/views}}
                </select>
            </div>
        </div>
        <div id="mod-wordcloud-words-box" class="row modal-body">
            {{{cloudhtml}}}
        </div>
    </div>
</div>
