{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_wordcloud/wordlist

    Example context (json):
    {
    }
}}

<div class="table-reset-link mb-2 text-end">
    <!-- Styled as a native link instead of a button button -->
    <a href="#" id="wordcloud-reset-btn" class="btn btn-link p-0 text-decoration-none">
        {{# str }} resettable, core {{/ str }}
    </a>
</div>

<div class="table-responsive">
    <table class="table table-striped" id="wordcloud-table">
        <thead>
        <tr>
            <th class="sortable-header" data-sort="word" style="cursor: pointer;">
                <a href="#" class="text-decoration-none d-block">
                    {{# str }} word, mod_wordcloud {{/ str }}
                    {{#sort_word_asc}} {{#pix}} t/sort_asc, core {{/pix}} {{/sort_word_asc}}
                    {{#sort_word_desc}} {{#pix}} t/sort_desc, core {{/pix}} {{/sort_word_desc}}
                </a>
            </th>
            <th class="sortable-header w-25" data-sort="count" style="cursor: pointer;">
                <a href="#" class="text-decoration-none d-block">
                    {{# str }} count, mod_wordcloud {{/ str }}
                    {{#sort_count_asc}} {{#pix}} t/sort_asc, core {{/pix}} {{/sort_count_asc}}
                    {{#sort_count_desc}} {{#pix}} t/sort_desc, core {{/pix}} {{/sort_count_desc}}
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        {{#words}}
            <tr>
                <td>{{word}}</td>
                <td>{{count}}</td>
            </tr>
        {{/words}}
        </tbody>
    </table>
</div>
