{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_wordcloud/wordcloud

    Example context (json):
    {
        "cloudhtml": "testwort1",
        "exportlink": "https://csvexportlink"
    }
}}
<div id="mod-wordcloud-content">
    <div class="container">
        <div class="row mb-3">
            <div class="heading col-md-auto">
                {{#wordcloudname}}
                    <h2>{{wordcloudname}}</h2>
                {{/wordcloudname}}
            </div>
            <div class="col">
                <button id="mod-wordcloud-fs-btn" class="btn btn-primary" title="{{#str}} fullscreen, mod_wordcloud {{/str}}">
                    <i id="mod-wordcloud-fs-icon" class="fa fa-expand fa-lg" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        {{#intro}}
            <div class="row">
                {{{intro}}}
            </div>
        {{/intro}}
        <div class="row mb-3">
            <div id="mod-wordcloud-div" class="container m-auto">
                {{#writeaccess}}
                <div class="wordcloud-header row">
                    <div class="col-md-10 col-xs-12">
                        <input type="text" placeholder="{{#str}} textbox, mod_wordcloud {{/str}}" id="mod-wordcloud-new-word" maxlength="40" autofocus="">
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <button id="mod-wordcloud-btn" class="btn btn-primary" onclick="$.mod_wordcloud_add_word();">{{#str}} submitbtn, mod_wordcloud {{/str}}</button>
                    </div>
                </div>
                {{/writeaccess}}
                <div id="mod-wordcloud-words-box" class="row">
                    {{{cloudhtml}}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wordcloud-export">
    <a class="btn btn-secondary" href="{{exportlink}}" target="_blank">{{#str}} exportcsv, mod_wordcloud {{/str}}</a>
    <button class="btn btn-secondary" onclick="$.mod_wordcloud_pic();">{{#str}} exportpng, mod_wordcloud {{/str}}</button>
</div>